<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DevFolio Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/01.css" rel="stylesheet">
  <link href="css/mypage.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="index.html">BINARY</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Section Contact-Footer Star /-->
  <!--7페이지-->
  <section class="paralax-mf footer-paralax bg-image route" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                
                <!--바이너리 로고-->
                  <div class="col-sm">
                    <div class="title-box-2 pt-4 pt-md-0">
                        <div class="logo">
                            <img src="img/logoexample.png" class="logoexample">
                        </div>
                    </div>
                  </div>
                <!--로고 끝-->

                <!--로그인 부분-->
                <div class="col-sm-5">
                  <div class="login-wrapper">
                      <h2>
                        <span style=" font-size:3.0em; color: #224c93;">
                          <b>LOGIN</b>
                        </span>
                      </h2>
                      <br>
                      <div th:if="${param.error}" class="alert alert-danger" role="alert">
                          아이디나 비밀번호가 잘못되었습니다.
                      </div>
                      <div th:if="${param.logout}" class="alert alert-primary" role="alert">
                          로그아웃 되었습니다.
                      </div>
                      <form th:action="@{/login}" method="post" id="login-form">
                          <input type="text" name="student_id" placeholder="ID"><br>
                          <input type="password" name="password" placeholder="Password"><br>
                          <label for="remember-check"><br>
                              <input type="checkbox" id="remember-check"> 아이디 저장하기
                          </label><br>
                          <input type="submit" value="Login">
                      </form>
                  </div>
                  <!--ID/PW, 회원가입-->
              </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Contact-footer End /-->
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/popper/popper.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/counterup/jquery.waypoints.min.js"></script>
  <script src="lib/counterup/jquery.counterup.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/typed/typed.min.js"></script> 
  <!-- Contact Form JavaScript File 
  <script src="contactform/contactform.js"></script> 

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>