@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Source+Code+Pro&display=swap');
@font-face{
    font-family: abster;
    src:url(font/abster-webfont.woff) format('woff');
}
/* 폰트 지정 */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* container -> 넓이를 기존 1200px->1400 px 로 조정(pc 큰화면 접속시 더 꽉차보이게 하기 위함
margin-top:0px 으로 하여 더 꽉차보이게 함
*/
.container{
    width:100%;
    margin:0 auto;
}
/* 배경 설정, 글자 수직 위치 조정(수직 정중앙 말고 약간 아랫부분에 글씨 위치), 글씨 색깔 검정->하양 으로 변경 */
.container .header{
    height:80px;
    /* background-color: black; */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/coding.jpg) center no-repeat fixed;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
/* 상단 로고 넓이와 마진 지정 */
.container .header h1{
    width:20%;
    margin-left: 100px;
    margin-right: 100px;
}
/* 상단 메뉴바 넓이 지정 */
.container .header .nav{
    width:700px;
}
/* 로고와 메뉴바 색, 패딩,폰트 등 지정 */
.container .header h1 a{
    padding-left: 50px;
    text-decoration: none;
    color: rgba(53, 201, 102, 0.986);
    font-family: 'Source Code Pro', monospace;
}
/* 동아리 소개부분 색(초록) 지정 */
#now{
    color:  rgba(53, 201, 102, 0.986);
}
/* 메뉴바 마진, 요소스타일 지정 */
.container .nav ul li{
    display: inline-block;
    margin: 0 10px;
}
/* 상단 메뉴바 부분 */
.container .nav ul li a{
    text-decoration: none;
    /* color: rgba(0, 128, 0, 0.623); */
    color : white;
    font-family: 'Noto Serif KR', serif;
}
/* 마우스 포인터가 올라가 있을 때 변화(메뉴바)*/
.container .nav ul li a:hover{
    color: rgba(53, 201, 102, 0.986);
}
/* 메뉴바 부분 */
.nav{
    float: 50px 50px;
}
/* h2,h3,p모두 센터로 텍스트 맞춤 */
h2{
    text-align:center;
}
h3{
    text-align:center;
}
p{
    text-align:center;
}
.wrap{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:white;
    text-align: center;
}

/* h2 태그 제외 적용(글씨가 전반적으로 아래로 밀려나는 현상 방지)
행간 알맞게 조정(가독성을 위함)
*/
section:not(h2){
    line-height: 2.4;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    width:70%;
    /* height:2500px; */
    height:auto;
    background-color:white;
    border: 2.5px solid green;
    border-radius: 0 15px 15px 0;
    box-shadow: rgba(18, 150, 62, 0.3) 5px 5px 10px;
    box-sizing: border-box;
}

section h2{
    line-height: 0;
}
/* footer 배경 설정, 높이 변경, 행간 조정 등 */
footer{
    width:100%;
    height:120px;
    margin-top: 50px;
    padding-top: 20px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/coding.jpg) center no-repeat fixed;
    clear:left;
    font-size: small;
    color:white;
    text-align: center;
    line-height: 2;
    border-top:3px solid green;
    font-family: 'Noto Serif KR', serif;
}
/* footer 링크 색깔 변경 */
footer a:link{
    color: white;
}
footer a:hover{
    color: greenyellow;
}
footer a:visited{
    color: green;
}

/* 게시판 css */
* {
    margin: 0;
    padding: 0;
}

.wrap{
    display: block; /* 게시판 제목(공지사항)과 게시글 list들을
   block으로 지정하여 줄바꿈이 되게 함 */
    width:70%;
    margin: 0 auto; /* 게시판을 가로로 가운데 정렬 */
}
.wrap .board_title{ /* 게시판 제목 달기 */
    width:200px;
    padding-top: 5%;
    font-size:x-large;
    margin-left: 40%;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 바디부분 공지사항 표 부분 패딩 */
.board_list_wrap {
    padding: 50px;
}
/* 공지사항 표 해드부분 표내용 부분 폰트 사이즈랑 패딩 */
.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}
/* 해드부분 경계선 크기와 색 지정 */
.board_list_head {
    border-top: 2px solid green;
    border-bottom: 1px solid #ccc;
}
/* 표내용 부분 경계선 크기, 색 지정 */
.board_list_body .item {
    border-bottom: 1px solid #ccc;
}
/* 번호, 제목, 글쓴이, 작성일 등 바디부분 제목,표내용 부분 */
.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.board_list_head > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .tit {
    width: 55%;
}

.board_list_body div.tit {
    text-align: left;
}
/* 마우스 커서가 올라가 있을 때 변화 */
.board_list_body div.tit a:hover {
    text-decoration: underline;
}
/* 공지사항 글쓴이부분 */
.board_list .writer {
    width: 10%;
}
/* 공지사항 작성일 부분 */
.board_list .date {
    width: 15%;
}
/* 공지사항 조회 부분 */
.board_list .view {
    width: 10%;
}

/* paging */
.paging {
    margin-top: 30px;
    text-align: center;
}

.paging a {
    display: inline-block;
    vertical-align: middle;
}

.paging a.bt {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    color:white;
    /* background-image: url(../img/page_bt.png); */
    /* background-repeat: no-repeat; */
    border-radius: 100px;
    /* text-indent: -1000px; */
    overflow: hidden;
    text-align: center;
    line-height: 25px;
}
/* 바디 하단 부분 다음 페이지, 전 페이지 부분 */
.paging a.bt:hover {
    background-color: #999;
    color:green;
}
/* 1,2,3 다음 페이지 화살표 부분들 */
.paging a.first {
    background-position: 10px -40px;
}

.paging a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}

.paging a.next {
    margin-left: 5px;
    background-position: -40px 10px;
}

.paging a.last {
    background-position: -40px -40px;
}

.paging a.num {
    margin: 0 5px;
}

.paging a.num.on {
    color: green;
}
/* 공지사항 하단 부분 숫자 표시 부분 마우스 커서 올려져 있을 때 변화 지정 */
.paging a.num:hover {
    text-decoration: underline;
}
/* 글쓰기 버튼 부분 */
.container button{
    position:absolute;
    right:350px;
    top:155px;
    background: none;
    border: 2px solid green;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    transition: all .4s;

}