<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/header :: header('BOARD')"></th:block>
    <link href="/css/board-write.css" rel="stylesheet">
</head>

<body>
<!--/ Nav Star /-->
<nav th:replace="fragment/navbar :: board-navbar"></nav>
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
<div class="intro intro-single route bg-image" style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
    </div>
</div>
<!--/ Intro Skew End /-->

<!--/ Section Blog-Single Star /-->
<section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form-comments">
                    <div class="title-box-2">
                        <h3 class="title-left">
                            글 작성하기
                        </h3>
                    </div>
                    <form class="form-mf" th:action="${'/' + type + '/write/' + id}" th:object="${board}" method="post">
                        <input type="hidden" th:field="*{member}">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <span class="write-title">제목</span>
                                    <input type="text" class="form-control input-mf" id="inputTitle"
                                           placeholder="제목을 입력해주세요." th:field="*{title}">
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <span class="write-title">파일</span>-->
<!--                                    <input type="file">-->
<!--                                </div>-->
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <textarea rows="10" cols="100" id="inputContent" style="resize: none"
                                              th:field="*{content}"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12" style="display: flex; justify-content: center;">
                                <button type="submit" class="button button-a button-big button-rouded">글 작성</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/ Section Blog-Single End /-->

<section th:replace="fragment/footer :: footer"></section>

<a href="/#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<th:block th:replace="fragment/script :: script"></th:block>

</body>
</html>
