<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragment/header :: header('BINARY')"></th:block>
    <link href="/css/dailyCoding.css" rel="stylesheet"/>
</head>

<body>
<!--/ Nav Star /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top"
     id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href="index.html">BINARY</a>
        <button class="navbar-toggler collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#navbarDefault"
                aria-controls="navbarDefault"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>
<!--/ Nav End /-->

<section class="paralax-mf footer-paralax bg-image route"
         style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="container">
                            <h1>잔디심기</h1>
                            <hr class="border border-primary border-3 opacity-75"/>
                        </div>
                        <!-- 잔디심기 카드 -->
                        <div class="card-area">
                            <div class="row grassRow"
                                 th:each="num : ${#numbers.sequence(0, (ranking.size() + 2) / 4 - 1)}">
                                <!-- 개인별 카드 -->
                                <div class="col-md-3"
                                     th:each="grass : ${ranking.subList(num * 4, T(java.lang.Math).min((num + 1) * 4, ranking.size()))}">
                                    <div class="card">
                                        <div class="card-header">
                                            <span th:text="${grass.member.name}"></span>
                                            <a type="button" class="btn btn-outline-primary grassBtn"
                                               th:href="'/myPage/' + ${grass.member.studentId}">
                                                방문하기
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <img th:if="${service.getMonthGrass(grass).size()} == 0"
                                                 src="/img/level0.png" class="img-my">
                                            <img th:if="${service.getMonthGrass(grass).size()} > 0 and ${service.getMonthGrass(grass).size()} < 5"
                                                 src="/img/level1.png" class="img-my">
                                            <img th:if="${service.getMonthGrass(grass).size()} >= 5 and ${service.getMonthGrass(grass).size()} < 15"
                                                 src="/img/level2.png" class="img-my">
                                            <img th:if="${service.getMonthGrass(grass).size()} >= 15 and ${service.getMonthGrass(grass).size()} < 25"
                                                 src="/img/level3.png" class="img-my">
                                            <img th:if="${service.getMonthGrass(grass).size()} >= 25 and ${service.getMonthGrass(grass).size()} < 30"
                                                 src="/img/level4.png" class="img-my">
                                            <img th:if="${service.getMonthGrass(grass).size()} == 30"
                                                 src="/img/level5.png" class="img-my">
                                            <p class="grass-day">
                                                <span th:text="${service.getMonthGrass(grass).size()}">10</span>
                                                일 차 진행 중
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>
<th:block th:replace="/fragment/script :: script"></th:block>
</body>
</html>
