<!-- tip : Ctrl+/ 하면 해당 줄이나 구역 한 번에 주석처리 가능-->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/header :: header('BINARY')"></th:block>
    <link href="/css/02.css" rel="stylesheet">
    <link href="/css/03.css" rel="stylesheet">
    <link href="/css/04.css" rel="stylesheet">
    <link href="/css/05.css" rel="stylesheet">
</head>

<body id="page-top">

<!--/ Nav Start /-->
<nav th:replace="fragment/navbar :: navbar"></nav>
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url(/img/intro-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h1 class="intro-title mb-4">Welcome to BINARY world;</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Team Project,Major Subject Study,Tutoring,Web Designer,Frontend Developer,Graphic Designer</span><strong
                        class="text-slider"></strong></p>
            </div>
        </div>
    </div>
</div>
<!--/ Intro Skew End /-->

<!--최유경 시작-->
<!--1페이지-->
<section id="about02">
    <div class="section-counter paralax-mf bg-image" style="background-image: url(/img/counters-bg.jpg)">
        <div class="overlay-mf02"></div>
        <div class="about-mf sect-pt4 route">
            <div class="container">
                <div class="row02">
                    <div class="col-sm-12">
                        <div class="row02">
                            <div class="col-md-6-02">
                                <div class="about-me pt-4-02 pt-md-0">
                                    <div class="title-box-2-02">
                                        <h5 class="title-left02">
                                            "0과 1로 자신만의 역사를 만들어라"
                                        </h5>
                                    </div>
                                    <p class="lead02">
                                        상상을 현실로 만드는 지능기전공학부 프로그래밍 학술 동아리 BINARY입니다.
                                    </p>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box02">
                        <div class="counter-ico02">
                            <span class="ico-circle02"><i class="ion-checkmark-round"></i></span>
                        </div>
                        <div class="counter-num02">
                            <p class="counter">20</p>
                            <span class="counter-text">지금까지 한 프로젝트 수</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box02 pt-4 pt-md-0">
                        <div class="counter-ico02">
                            <span class="ico-circle02"><i class="ion-ios-calendar-outline"></i></span>
                        </div>
                        <div class="counter-num02">
                            <p class="counter">15</p>
                            <span class="counter-text">1년에 하는 활동 개수?</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box02 pt-4 pt-md-0">
                        <div class="counter-ico02">
                            <span class="ico-circle02"><i class="ion-ios-people"></i></span>
                        </div>
                        <div class="counter-num02">
                            <p class="counter">84</p>
                            <span class="counter-text">부원 수</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box02 pt-4 pt-md-0">
                        <div class="counter-ico02">
                            <span class="ico-circle02"><i class="ion-ribbon-a"></i></span>
                        </div>
                        <div class="counter-num02">
                            <p class="counter">36</p>
                            <span class="counter-text">지금까지 수상한 상 수</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--최유경 끝-->

<!--신아진 시작-->
<!--2페이지-->
<section id="about03" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row03">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row03">
                        <div class="col-md-6-03">
                            <div class="about-me pt-4-03 pt-md-0">
                                <div class="title-box-2-03">
                                    <h5 class="title-left03">
                                        이런분들에게 추천해드려요!
                                    </h5>
                                </div>
                                <div class="recommend03">
                                    <div class="emoticon03">
                                        <img src="/img/man-technologist-light-skin-tone.png" class="img03">
                                    </div>
                                    <div class="speech-bubble03">
                                        다른 사람들과 프로젝트를 해보고 싶은 학생<br>
                                    </div>
                                </div>
                                <div class="recommend03">
                                    <div class="emoticon03">
                                        <img src="/img/thinking-face.png" class="img03">
                                    </div>
                                    <div class="speech-bubble03">
                                        코딩을 모르겠는데 질문할 사람이 없는 학생<br>
                                    </div>
                                </div>
                                <div class="recommend03">
                                    <div class="emoticon03">
                                        <img src="/img/books.png" class="img03">
                                    </div>
                                    <div class="speech-bubble03">
                                        다음 학기 수업을 미리 공부해보고 싶은 학생<br>
                                    </div>
                                </div>
                                <div class="recommend03">
                                    <div class="emoticon03">
                                        <img src="/img/robot.png" class="img03">
                                    </div>
                                    <div class="speech-bubble03">
                                        지금까지 배운 코딩으로 뭘 해야할지 모르겠는 학생<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--3페이지-->
<!--/ Section Services Star /-->
<section id="service03" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a-03">
                        수상 내역
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box03">
                    <div class="service-ico03">
                        <img src="/img/award01.jpg" class="img03-02">
                    </div>
                    <div class="service-content">
                        <h2 class="s-title" id="title03-01">세종대학교 제 2회<br> 창의융합노마드 융합아이디어<br> 학술제 우수상</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box03">
                    <div class="service-ico03">
                        <img src="/img/award02.jpg" class="img03-02">
                    </div>
                    <div class="service-content">
                        <h2 class="s-title" id="title03-02">세종대학교 제 4회<br> SW·해커톤 은상</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box03">
                    <div class="service-ico03">
                        <img src="/img/award03.jpg" class="img03-02">
                    </div>
                    <div class="service-content">
                        <h2 class="s-title" id="title03-03">세종대학교 제 5회<br> SW·해커톤 은상</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box03">
                    <div class="service-ico03">
                        <img src="/img/award04.jpg" class="img03-02">
                    </div>
                    <div class="service-content">
                        <h2 class="s-title" id="title03-04">세종대학교 제 7회<br> SW·인공지능 해커톤 장려상</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box03">
                    <div class="service-ico03">
                        <img src="/img/award05.jpg" class="img03-02">
                    </div>
                    <div class="service-content">
                        <h2 class="s-title" id="title03-05">세종대학교 창의설계경진대회<br> 최우수상</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box03">
                    <div class="service-ico03" id="trophy03">
                        <img src="/img/trophy.png" class="img03-02">
                    </div>
                    <div class="service-content">
                        <!-- <h2 class="s-title">여러분들이 주인공이되어<br>이 자리를 채워주세요!</h2> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->
<!--신아진 끝-->

<!--박상규 시작-->
<!--3페이지-->
<!--/ Section Services Star /-->
<section id="service04" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        BINARY 활동
                    </h3>
                    <p class="subtitle-a">
                        활동
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row04">
            <div class="col-md-6_04">
                <div class="service-box04">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-ios-book"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">튜터링</h2>
                        <p class="s-description text-center">
                            학기 중 팀을 이뤄 프로그래밍을 배우고 문제를 품

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6_04">
                <div class="service-box04">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-erlenmeyer-flask"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">프로젝트</h2>
                        <p class="s-description text-center">
                            공부한 언어 및 공부하고 싶은 분야로 방학 중 팀 프로젝트를 진행
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6_04">
                <div class="service-box04">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-android-people"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">짝선짝후</h2>
                        <p class="s-description text-center">
                            학기 중 선후배가 조를 이뤄 친목도모

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6_04">
                <div class="service-box04">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-paintbrush"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">스터디</h2>
                        <p class="s-description text-center">
                            부원들과 팀을 이뤄 문제를 풀어보고 공부
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->
<!--박상규 끝-->

<!--정지윤 시작-->
<!--3페이지-->
<!--/ Section Services Star /-->
<section id="service05" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        게시판 바로가기
                    </h3>
                    <p class="subtitle-a">
                        아이콘을 클릭하면 해당 게시판으로 이동하실 수 있습니다
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <a th:href="@{/board}"><span class="ico-circle"><i class="ion-ios-star"></i></span></a>
                    </div>
                    <div class="service-content text-center">
                        <br>
                        <h2 class="title-left03">공지사항</h2>
                        <p class="s-description text-center">
                            BINARY 규칙 안내<br>주요 전달 사항 공지
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <a th:href="@{/board}"><span class="ico-circle"><i class="ion-bookmark"></i></span></a>
                    </div>
                    <div class="service-content text-center">
                        <br>
                        <h2 class="title-left03">같이 공부해요</h2>
                        <p class="s-description text-center">
                            희망 주제 스터디 개설 및 모집<br>원하는 스터디 참가
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <a th:href="@{/board}"><span class="ico-circle"><i class="ion-social-github"></i></span></a>
                    </div>
                    <div class="service-content text-center">
                        <br>
                        <h2 class="title-left03">같이 만들어요</h2>
                        <p class="s-description text-center">
                            공모전 또는 개인 프로젝트 개설 및 모집<br>원하는 프로젝트 참가
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <a th:href="@{/grass}"><span class="ico-circle"><i class="ion-leaf"></i></span></a>
                    </div>
                    <div class="service-content text-center">
                        <br>
                        <h2 class="title-left03">BINARY 정원</h2>
                        <p class="s-description text-center">
                            동아리 부원의 잔디심기 현황 확인<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <a th:href="@{/board}"><span class="ico-circle"><i class="ion-card"></i></span></a>
                    </div>
                    <div class="service-content text-center">
                        <br>
                        <h2 class="title-left03">회비현황</h2>
                        <p class="s-description text-center">
                            BINARY의 회비 사용 내역 확인
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <a th:href="@{/board}"><span class="ico-circle"><i class="ion-chatbubbles"></i></span></a>
                    </div>
                    <div class="service-content text-center">
                        <br>
                        <h2 class="title-left03">Q & A</h2>
                        <p class="s-description text-center">
                            전공, 학교 생활 질문 및 답변
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->
<!--5페이지-->
<!--/ Section Portfolio Star /-->
<section id="work05" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        BINARY RANKING
                    </h3>
                    <p class="subtitle-a">
                        Baekjoon 잔디 심기 TOP 3을 공개합니다 (매일 자정 업데이트)
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${ranking.size() >= 3}" th:object="${ranking}">
            <div class="col-md-4" th:each="grass, grassState : *{subList(0, 3)}">
                <div class="work-box">
                    <a th:href="'/myPage/' + ${grass.member.studentId}">
                        <div class="work-img">
                            <img th:src="'/img/ranking' + ${grassState.index + 1} + '.png'" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title" th:text="${grass.member.name}">정지윤</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory" th:text="${grass.grassName}">stopyoon</span>
                                        <span class="w-date">
                                            <span th:text="${service.getMonthGrass(grass).size()}">17</span>/30 달성
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Portfolio End /-->
<!--정지윤 끝-->

<section th:replace="fragment/footer :: footer"></section>

<a href="/#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<th:block th:replace="fragment/script :: script"></th:block>
</body>
</html>
