<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>binary;</title>
    <link rel="stylesheet" href="/css/notice.css">
    <style>
        header {
            border-bottom: 3px solid green;
        }
    </style>
</head>

<body>
<div class="container">
    <header class="header">
        <!-- 상단 로고와 메뉴바 -->
        <h1><a href="/">binary;</a></h1>
        <div class="nav">
            <ul>
                <li><a href="#">LOGIN</a></li>
                <li><a href="#" id="now">공지사항</a></li>
                <li><a href="#">수상내역</a></li>
                <li><a href="#">동아리 소개</a></li>
                <li><a href="#">문의 게시판</a></li>
                <li><a href="#">활동 게시판</a></li>
            </ul>
        </div>
    </header>
    <div class="wrap">
        <!-- 바디부분 제목과 공지사항 표부분 -->
        <div class="board_title">
            공지사항
        </div>
        <!-- 글쓰기 버튼 -->
        <button onclick="location.href='/notice/write'">글쓰기</button>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="board_list_head">
                    <div class="num">번호</div>
                    <div class="tit">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="view">조회</div>
                </div>
                <div class="board_list_body">
                    <!-- 표 내용 부분 -->
                    <div class="item" th:each="notice : ${notices}">
                        <div class="num" th:text="${notice.id}">번호</div>
                        <div class="tit"><a th:href="@{/notice/write(id=${notice.id})}" th:text="${notice.title}">제목</a></div>
                        <div class="writer">글쓴이</div>
                        <div class="date">작성일</div>
                        <div class="view">조회수</div>
                    </div>
                </div>
            </div>
            <div class="paging">
                <!-- 바디 부분 하단 다음페이지, 전 페이지 버튼 부분 -->
                <a href="#" class="bt first">&lt;&lt;</a>
                <a href="#" class="bt prev">&lt;</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="bt next">&gt;</a>
                <a href="#" class="bt last">&gt;&gt;</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>