<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/header :: header('MYPAGE')"></th:block>
    <link href="/css/setInfo.css" rel="stylesheet"/>
</head>

<body>
<!--/ Nav Star /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top"
     id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" th:href="@{/}">BINARY</a>
        <button class="navbar-toggler collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#navbarDefault"
                aria-controls="navbarDefault"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>
<!--/ Nav End /-->

<section class="paralax-mf footer-paralax bg-image route"
         style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="container">
                            <h1>Setting</h1>
                            <hr class="border border-primary border-3 opacity-75"/>
                        </div>
                        <!-- put change password div -->
                        <div class="row contents-div container">
                            <div class="col-sm-3">
                                <h5 class="list">비밀번호 변경</h5>
                            </div>
                            <div class="col-md-9">
                                <form th:action="'/myPage/' + ${studentId} + '/updatePassword'" method="post" class="form-div"
                                      th:object="${passwordForm}">
                                    <!--                                    <label class="row">-->
                                    <!--                                        <span class="col-sm-5">기존 비밀번호</span>-->
                                    <!--                                        <input class="col-md-6" type="text" required/>-->
                                    <!--                                    </label>-->
                                    <!--                                    <br/>-->
                                    <label class="row">
                                        <span class="col-sm-5">새 비밀번호</span>
                                        <input class="col-md-6" type="password" th:field="*{newPassword}"/>
                                        <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="alert alert-danger" role="alert">
                                            아이디나 비밀번호가 잘못되었습니다.
                                        </div>
                                    </label>
                                    <br/>
                                    <label class="row">
                                        <span class="col-sm-5">새 비밀번호 재입력</span>
                                        <input class="col-md-6" type="password" th:field="*{newPasswordConfirm}"/>
                                    </label>
                                    <br/>
                                    <button type="submit" class="btn btn-primary passwordBtn">
                                        Change
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- put change profile info -->
                        <div class="row contents-div container">
                            <div class="col-sm-3">
                                <h5 class="list">상세정보 변경</h5>
                            </div>
                            <div class="col-md-9">
                                <form th:action="'/myPage/' + ${studentId} + '/updateInfo'" method="post"
                                      class="form-div" th:object="${memberForm}">
                                    <input type="hidden" th:field="*{id}">
                                    <label class="row">
                                        <span class="col-sm-5">한 줄 소개</span>
                                        <input class="col-md-6"
                                               type="text"
                                               th:field="*{introduce}"/>
                                    </label>
                                    <br/>
                                    <label class="row">
                                        <span class="col-sm-5">백준 ID</span>
                                        <input class="col-md-6" type="text" th:field="*{grassName}"/>
                                    </label>
                                    <br/>
                                    <label class="row">
                                        <span class="col-sm-5">GitHub 주소</span>
                                        <input class="col-md-6" type="text" th:field="*{gitHub}"/>
                                    </label>
                                    <br/>
                                    <label class="row">
                                        <span class="col-sm-5">Notion 주소</span>
                                        <input class="col-md-6" type="text" th:field="*{notion}"/>
                                    </label>
                                    <br>

                                    <!-- 노션 및 깃허브 등 주소 목록 -->
<!--                                    <div class="link-list">-->
<!--                                        <div class="link-title">-->
<!--                                            <span>주소 목록</span>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; 주소 공간 &ndash;&gt;-->
<!--                                        <div class="link">-->
<!--                                            <span>https://github.com/sangkyu39?tab=repositories</span>-->
<!--                                            <button type="button" class="btn btn-light link-btn">-->
<!--                                                삭제-->
<!--                                            </button>-->
<!--                                        </div>-->

<!--                                        <div class="link">-->
<!--                                            <span>https://github.com/sangkyu39?tab=repositories</span>-->
<!--                                            <button type="button" class="btn btn-light link-btn">-->
<!--                                                삭제-->
<!--                                            </button>-->
<!--                                        </div>-->

<!--                                        <div class="link">-->
<!--                                            <span>https://github.com/sangkyu39?tab=repositories</span>-->
<!--                                            <button type="button" class="btn btn-light link-btn">-->
<!--                                                삭제-->
<!--                                            </button>-->
<!--                                        </div>-->

<!--                                        &lt;!&ndash; 주소 추가 &ndash;&gt;-->
<!--                                        <div class="add-link">-->
<!--                                            <label class="row">-->
<!--                                                <input class="col-md-10 add-input-link"-->
<!--                                                       type="text"/>-->
<!--                                                <button type="button"-->
<!--                                                        class="btn btn-light link-btn">-->
<!--                                                    추가-->
<!--                                                </button>-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->

                                    <button type="submit" class="btn btn-primary passwordBtn">
                                        Save
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Contact-footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<th:block th:replace="fragment/script :: script"></th:block>
</body>
</html>
